*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
}

.img-left, .img-right {
    width: 400px;  
    height: 700px;
    margin: 0 200px; 
    opacity: 0;
    transition: opacity 2s ease, transform 2s ease;
}

.img-left.show-img{
    opacity: 1;
    transition: opacity 2s ease, transform 2s ease;
}

.img-right.show-img{
    opacity: 1;
    transition: opacity 2s ease, transform 2s ease;
}

body{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #1a1a1a;
    
}

.hearth{
    width: 150px;
    height: 240px;

    position: relative;
    background-color: #E93D3D;
    transform-origin: right bottom;
    border-radius: 22.5px;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hearth.clicked {
    transform: rotate(45deg) translateX(-100px); 
    transition: transform 0.5s ease;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
}

.hearth:after{
    content: '';
    width: 100%;
    height: 100%;
    transform-origin: left bottom;
    border-radius: 22.5px;
    background-color: #D62424;
    position: absolute;
    transition: .5s ease;
}

.hearth.clicked:after{
    transform: rotate(-90deg) translateY(150px);
    transition: .5s ease;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
}

.text {
    font-family: "Figtree", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 24px;
    position: relative;
    z-index: 1;
    transition: opacity 0.5s ease;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}

body.padding-bottom {
    padding-bottom: 100px; 
}

.card {
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    position: absolute;
    top: 500px; 
    
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease, transform 2s ease;
    text-align: center;
}

.card.show-card {
    opacity: 1;
    transform: translateY(0);
}

.carousel {
    position: relative;
    overflow: hidden;
    display: flex; 
    flex-direction: column; 
}

.carousel-slide {
    display: none; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.carousel-slide.active {
    display: flex; 
}

.card-img {
    width: 100%; 
    height: auto; 
    border-radius: 8px; 
}

.card-text {
    font-family: "Figtree", sans-serif;
    margin-top: 10px; 
    color: #333; 
}

.carousel-button {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #E93D3D;
}

.carousel-button.left {
    left: 2px; 
}

.carousel-button.right {
    right: 2px; 
}

@media (max-width: 1000px) {
    .img-left, .img-right {
        width: 150px;  
        height: 263px;
        margin: 0 20px; 
        opacity: 0;
        transition: opacity 2s ease, transform 2s ease;
    }
}

.tristeza{
    font-family: "Figtree", sans-serif;
    color: rgb(255, 255, 255);
    background-color: #E93D3D;
    padding: 0.5%;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 2s ease, transform 2s ease;
}

.tristeza.show-msg{
    opacity: 0.2;
    transition: opacity 2s ease, transform 2s ease;
}

.trist-pai{
    justify-content: center;
    text-align: center;
}

.botao-trist{
    text-decoration: none;
}

.card_2 {
    font-family: "Figtree", sans-serif;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transform: translateY(20px);
    transition: opacity 2s ease, transform 2s ease;
    text-align: center;
}

.carousel-button {
    position: absolute;
    top: 45%;
    margin-right: 750px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.bot-dir {
    width: 40px;
    height: 40px;
    margin-left: 0;
}

.carrossel {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrossel-slide {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carrossel-slide.active {
    display: flex;
}

.carrossel-slide:last-child img {
    width: 100%; /* A imagem ocupará 100% da largura do card */
    height: auto; /* A altura será ajustada automaticamente */
    border-radius: 8px;
    margin-bottom: 10px; /* Espaçamento entre a imagem e o texto */
}

.carrossel-slide:last-child p {
    margin-bottom: 10px;
    font-family: "Figtree", sans-serif;
}

.campo{
    font-family: "Figtree", sans-serif;
    margin-top: 100px;
    background-color: #D62424;
    padding: 5px;
    border-radius: 10px;
    opacity: 0.1;
}

.campo a{
    text-decoration: none;
}